
section {
    height: auto;
  }
  header {
    background-color: rgb(33, 33, 33);
    height: 70px;
    padding-bottom: 14px;
    padding-left: 50px;
  }
  
  header a h1, header a h2{
    display: inline-block;
    color: white;
    margin-right: 30px;
  }
  
  section h1 {
    text-align: center;
  }
  
  
  .MANU {
    display: inline-block;
    background-color: rgb(243, 156, 18);
    margin: 0 auto;
    width: 100%;
  }
  .MANU h1 {
    font-size: 18px;
    color: white;
  }
  .brand {
    display: inline-block;
    width: 26%;
  }
  .GPU {
    display: inline-block;
    width: 7.5%;
  }
  .model {
    display: inline-block;
    width: 21%;
  }
  .mamole {
    display: inline-block;
    width: 5.5%;
  }
  .long {
    display: inline-block;
    width: 21.5%;
  }
  .MARKTS {
    display: inline-block;
    width: 9.5%;
  }
  
  
  .MANUSUB {
    display: inline-block;
    background-color: rgb(44, 62, 80);
    margin: 0 auto;
    width: 100%;
  }
  .MANUSUB h1 {
    font-size: 15px;
    color: white;
  }
  .BRAND1 {
    display: inline-block;
    margin-left: 193px;
  }
  .GPU1 {
    display: inline-block;
    margin-left: 216px;
  }
  .allmodel {
    display: inline-block;
    width: 23.5%;
  }
  .allmemory {
    display: inline-block;
    width: 3%;
  }
  .allmm {
    display: inline-block;
    width: 24%;
  }
  .allmarkts {
    display: inline-block;
    width: 6.75%;
  }
  
  
  .glx1 {
    display: inline-block;
    background-color: rgb(127,127,127);
    margin: 0 auto;
    width: 100%;
  }
  .glx1 h1 {
    font-size: 14px;
    color: white; 
  }
  .glxx1 {
    display: inline-block;
    width: 26%;
  }
  .glxgpu1 {
    display: inline-block;
    width: 7.5%;
  }
  .glxmodel1 {
    display: inline-block;
    width: 21%;
  }
  .glxmemory1 {
    display: inline-block;
    width: 5.5%;
  }
  .glxmm1 {
    display: inline-block;
    width: 21.5%;
  }
  .glxmarkts1 {
    display: inline-block;
    width: 9.5%;
  }
  .glx2 {
    display: inline-block;
    background-color: rgb(94,94,94);
    margin: 0 auto;
    width: 100%;
  }
  .glx2 h1 {
    font-size: 14px;
    color: white; 
  }
  .glxx2 {
    display: inline-block;
    width: 26%;
  }
  .glxgpu2 {
    display: inline-block;
    width: 7.5%;
  }
  .glxmodel2 {
    display: inline-block;
    width: 21%;
  }
  .glxmemory2 {
    display: inline-block;
    width: 5.5%;
  }
  .glxmm2 {
    display: inline-block;
    width: 21.5%;
  }
  .glxmarkts2 {
    display: inline-block;
    width: 9.5%;
  }
  .glx3 {
    display: inline-block;
    background-color: rgb(127,127,127);
    margin: 0 auto;
    width: 100%;
  }
  .glx3 h1 {
    font-size: 14px;
    color: white; 
  }
  .glxx3 {
    display: inline-block;
    width: 26%;
  }
  .glxgpu3 {
    display: inline-block;
    width: 7.5%;
  }
  .glxmodel3 {
    display: inline-block;
    width: 21%;
  }
  .glxmemory3 {
    display: inline-block;
    width: 5.5%;
  }
  .glxmm3 {
    display: inline-block;
    width: 21.5%;
  }
  .glxmarkts3 {
    display: inline-block;
    width: 9.5%;
  }
  .glx4 {
    display: inline-block;
    background-color: rgb(94,94,94);
    margin: 0 auto;
    width: 100%;
  }
  .glx4 h1 {
    font-size: 14px;
    color: white; 
  }
  .glxx4 {
    display: inline-block;
    width: 26%;
  }
  .glxgpu4 {
    display: inline-block;
    width: 7.5%;
  }
  .glxmodel4 {
    display: inline-block;
    width: 21%;
  }
  .glxmemory4 {
    display: inline-block;
    width: 5.5%;
  }
  .glxmm4 {
    display: inline-block;
    width: 21.5%;
  }
  .glxmarkts4 {
    display: inline-block;
    width: 9.5%;
  }
  .glx5 {
    display: inline-block;
    background-color: rgb(127,127,127);
    margin: 0 auto;
    width: 100%;
  }
  .glx5 h1 {
    font-size: 14px;
    color: white; 
  }
  .glxx5 {
    display: inline-block;
    width: 26%;
  }
  .glxgpu5 {
    display: inline-block;
    width: 7.5%;
  }
  .glxmodel5 {
    display: inline-block;
    width: 21%;
  }
  .glxmemory5 {
    display: inline-block;
    width: 5.5%;
  }
  .glxmm5 {
    display: inline-block;
    width: 21.5%;
  }
  .glxmarkts5 {
    display: inline-block;
    width: 9.5%;
  }
  .glx6 {
    display: inline-block;
    background-color: rgb(94,94,94);
    margin: 0 auto;
    width: 100%;
  }
  .glx6 h1 {
    font-size: 14px;
    color: white; 
  }
  .glxx6 {
    display: inline-block;
    width: 26%;
  }
  .glxgpu6 {
    display: inline-block;
    width: 7.5%;
  }
  .glxmodel6 {
    display: inline-block;
    width: 21%;
  }
  .glxmemory6 {
    display: inline-block;
    width: 5.5%;
  }
  .glxmm6 {
    display: inline-block;
    width: 21.5%;
  }
  .glxmarkts6 {
    display: inline-block;
    width: 9.5%;
  }
  .glx7 {
    display: inline-block;
    background-color: rgb(127,127,127);
    margin: 0 auto;
    width: 100%;
  }
  .glx7 h1 {
    font-size: 14px;
    color: white; 
  }
  .glxx7 {
    display: inline-block;
    width: 26%;
  }
  .glxgpu7 {
    display: inline-block;
    width: 7.5%;
  }
  .glxmodel7 {
    display: inline-block;
    width: 21%;
  }
  .glxmemory7 {
    display: inline-block;
    width: 5.5%;
  }
  .glxmm7 {
    display: inline-block;
    width: 21.5%;
  }
  .glxmarkts7 {
    display: inline-block;
    width: 9.5%;
  }
  .glx8 {
    display: inline-block;
    background-color: rgb(94,94,94);
    margin: 0 auto;
    width: 100%;
  }
  .glx8 h1 {
    font-size: 14px;
    color: white; 
  }
  .glxx8 {
    display: inline-block;
    width: 26%;
  }
  .glxgpu8 {
    display: inline-block;
    width: 7.5%;
  }
  .glxmodel8 {
    display: inline-block;
    width: 21%;
  }
  .glxmemory8 {
    display: inline-block;
    width: 5.5%;
  }
  .glxmm8 {
    display: inline-block;
    width: 21.5%;
  }
  .glxmarkts8 {
    display: inline-block;
    width: 9.5%;
  }
  .glx9 {
    display: inline-block;
    background-color: rgb(127,127,127);
    margin: 0 auto;
    width: 100%;
  }
  .glx9 h1 {
    font-size: 14px;
    color: white; 
  }
  .glxx9 {
    display: inline-block;
    width: 26%;
  }
  .glxgpu9 {
    display: inline-block;
    width: 7.5%;
  }
  .glxmodel9 {
    display: inline-block;
    width: 21%;
  }
  .glxmemory9 {
    display: inline-block;
    width: 5.5%;
  }
  .glxmm9 {
    display: inline-block;
    width: 21.5%;
  }
  .glxmarkts9 {
    display: inline-block;
    width: 9.5%;
  }
  .glx10 {
    display: inline-block;
    background-color: rgb(94,94,94);
    margin: 0 auto;
    width: 100%;
  }
  .glx10 h1 {
    font-size: 14px;
    color: white; 
  }
  .glxx10 {
    display: inline-block;
    width: 26%;
  }
  .glxgpu10 {
    display: inline-block;
    width: 7.5%;
  }
  .glxmodel10 {
    display: inline-block;
    width: 21%;
  }
  .glxmemory10 {
    display: inline-block;
    width: 5.5%;
  }
  .glxmm10 {
    display: inline-block;
    width: 21.5%;
  }
  .glxmarkts10 {
    display: inline-block;
    width: 9.5%;
  }
  